/* Website CV Page CSS Content Styling */

.CV-container {
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  padding-top: 20px;
}

.CV-download {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.CV-download-text {
  color: rgb(122, 217, 255);
}

.CV-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pdf {
  width: 80vh;
  height: 100vh;
}

/*.CV-picture-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 45%;
}

.CV-picture {
  width: 100%;
  object-fit: contain;
}

.CV-picture-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 4px 12px;
}*/

