/* Website CV Page CSS Content Styling */

.CV-container {
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  padding-top: 20px;
}

.CV-download {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.CV-download-text {
  color: rgb(122, 217, 255);
}

.CV-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pdf {
  width: 100vh;
  height: 100vh;
}
