/* Website Index CSS Header Styling */

.header-main {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  background-color: rgb(30, 30, 30);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.daniel-brock {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.15s;
}

.daniel-brock:hover {
  color: rgb(200, 200, 200);
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
  color: white;
}

.header-buttons {
  background-color: rgb(30, 30, 30);
  color: rgb(210, 210, 210);
  font-size: 18px;
  text-decoration: none;
  border: none;
  padding: 4px 8px;
  margin: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.header-buttons:hover {
  background-color: rgb(80, 30, 255);
  color: white
}

.header-buttons:active {
  opacity: 0.6;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: white;
}



/* Media queries to scale with screen size */

@media (max-width: 860px) {
  .header-main {
    padding-left: 3%;
    padding-right: 3%;
  }

  .daniel-brock {
    font-size: 28px;
  }


  /* Hamburger menu */

  .hamburger {
    display: block;
  }

  .hamburger:active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger:active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger:active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    width: 100%;
    text-align: center;
    transition: 0.2s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu:active {
    left: 0;
  }
}