/* Website Index CSS Header Styling */

/* Desktop Header Navigation */

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
  z-index: 100;
  list-style: none;
  background-color: rgb(30, 30, 30);
  height: 80px;
}

.daniel-brock {
  color: white;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.15s;
}

.daniel-brock:hover {
  color: rgb(200, 200, 200);
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.desktop-buttons {
  color: rgb(210, 210, 210);
  font-size: 18px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.desktop-buttons:hover {
  background-color: rgb(80, 30, 255);
  color: white
}

.desktop-buttons:active {
  opacity: 0.6;
}



/* Hamburger menu */

.hamburger {
  display: block;
  position: relative;
  width: 35px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::before {
  transform: translate(-2px, 8px) rotate(-45deg) ;
}

.hamburger.is-active::after {
  transform: translate(-2px, -12px) rotate(45deg) ;
}



/* Mobile Navigation Menu */

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 99;
  background-color: rgb(10, 10, 10);
  padding-top: 90px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-buttons {
  display: block;
  width: 100%;
  max-width: 180px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgba(80, 30, 255, 0.2);
  color: rgb(210, 210, 210);
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.mobile-buttons:hover {
  background-color: rgba(80, 30, 255, 0.7);
  color: white;
}

.mobile-buttons:active {
  opacity: 0.6;
}



/* Media queries to scale with screen size */

@media (max-width: 1024px) {
  .nav-bar {
    padding-left: 3%;
    padding-right: 3%;
    height: 70px;
  }

  .daniel-brock {
    font-size: 30px;
  }

  .desktop-buttons {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-buttons {
    display: none;
  }
}
