/* Website Outreach Page CSS Content Styling */

.outreach-container {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
  margin: 0 auto;
  padding-top: 20px;
}

.outreach-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.outreach-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.outreach-text-center-div {
  display: flex;
  flex-direction: column;
  margin: 30px 10% 10px 10%;
}

.outreach-activity {
  text-align: center;
  margin-bottom: 18px;
}

.outreach-desc {
  font-size: 18px;
  color: rgb(210, 210, 210);
  margin-bottom: 10px;
}

.outreach-link {
  color: rgb(210, 210, 210);
}

.health-fair-list {
  color: rgb(210, 210, 210);
  margin-left: 30px;
}

.health-fair-list li {
  margin-bottom: 4px;
}

.outreach-picture {
  width: 40%;
  object-fit: contain;
}



/* Media queries to scale with screen size */

@media (max-width: 1024px) {
  .outreach-container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .outreach-activity {
    font-size: 28px;
  }

  .outreach-desc {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .outreach-div {
    display: flex;
    flex-direction: column;
  }

  .outreach-text-div {
    width: 100%;
  }

  .outreach-picture {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .outreach-text-center-div {
    margin: 10px 0% 10px 0%;
  }
}