/* Website Publications Page CSS Styling */

.publications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.citations-header {
  margin-bottom: 14px;
}

.citation-button-link {
  text-decoration: none;
}

.citation-button {
  color: rgb(210, 210, 210);
  font-size: 18px;
  background-color: rgb(30, 30, 30);;
  padding: 6px 12px;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.2s;
}

.citation-button:hover {
  background-color: rgb(80, 30, 255);
  color: white;
  border-color: white;
}

.citation-button:active {
  opacity: 0.6;
}

.year-list {
  text-align: left;
  list-style-type: none;
}

.year {
  margin-top: 25px;
  margin-bottom: 10px;
}

.citation {
  list-style-type: none;
  margin-left: 20px;
  font-size: 18px;
  color: rgb(210, 210, 210);
  line-height: 1.3;
  margin-bottom: 10px;
}

.shift {
  margin-left: 25px;
}

.author {
  font-weight: 700;
  text-decoration: underline;
}

.journal {
  font-style: italic;
}

.linked-title {
  color: rgb(210, 210, 210);
}

.footnotes {
  margin-top: 2px;
}



/* Media queries to scale with screen size */

@media (max-width: 1024px) {
  .publications-container {
    padding-left: 3%;
    padding-right: 3%;
  }

  .citations-header {
    font-size: 28px;
  }

  .citation-button {
    font-size: 16px;
  }

  .year {
    font-size: 28px;
  }

  .citation {
    font-size: 16px;
  }
}